@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

    

.large {
    
    align-items: center;
    justify-items: center;
    min-height: 85vh;
    min-width: 600px;
    background-color: #fff;
    position: relative;
}

.small {
    display: flex;
    z-index: 1;
    position: relative;
    max-width: 400px;
    max-height: 400px;
    background-color: #fff;
    top: 35%;
    text-align: justify;
    justify-content: center ;
    align-content: center;
    flex-direction: column;
    line-height: 2rem;
    padding: 0 30px;
    margin-bottom: 0;
    
    
}

button {
    display: block;
    text-transform: uppercase;
    padding: 20px;
    border: 2px #0a0a0a70;
    text-align:center;
    margin: 15px auto;
    
    
    
    position: relative;
    top: 35%;
}