@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

nav {
    height: fit-content;
}

ul {
    list-style-type: none;
    text-align: right;
    background-color: #000;
}
li {
    
    
    padding-left: 0;
    display: inline-block;
    margin-inline: 0.25rem;
    padding: 0.5rem;
    height: inherit;
    
    

}
li a{
    color: #cbcaca;
    text-decoration: none;
    
}

li a:hover,
li a:focus {
    font-size: 1.8rem;
    color: #fff;
    background-color: #333;
    display: block;
    padding: 2px;
    
    

}